:root {
    --master-width: 60%;
    --image-width: 70%;
}
body {
    font-family: "Roboto";
}
strong {
    font-weight: bold;
    color: #616161;
}
a {
    color: #616161;
}
.container {
    display: block; 
    /* background-color: #caa; */
    width: 60vw;
    margin: auto;
}
    .avatar {
        display: block; 
        /* width: 60%; */
        width: var(--master-width);
        margin: auto;
        padding: 0.1rem 0rem 0rem 0rem;
        
    }
        .avatar > img {
            width: 100%;
        }
    .about {
        font-size: 2vh;
    }

.subContainer {
    display: inline-block;
    margin-right: -4px;
}
.subContainer#left1 {
    text-align: center; 
    width: calc((100% - var(--master-width))/2);
    /* font-size: 2vh; */
    /* background-color: red; */
}
.subContainer#centre1 {
    text-align: left; 
    width: var(--master-width);
    /* font-size: 2vh; */
    /* background-color: green; */
}
.subContainer#right1 {
    text-align: center; 
    width: calc((100% - var(--master-width))/2);
    /* font-size: 2vh; */
    /* background-color: blue; */
}
.subContainer#left2 {
    /* width: 15%; */
    width: calc((100% - var(--image-width))/2)
}
.subContainer#centre2 {
    text-align: center; 
    /* width: 70%; */
    width: var(--image-width);
}
.subContainer#right2 {
    /* width: 15%; */
    width: calc((100% - var(--image-width))/2)
}

.image {
    display: block; 
    width: 100%;
    margin: auto;
    /* padding: 0.1rem 0rem 0rem 0rem; */
}
    .image > img {
        width: 100%;
    }

.credit {
    display: inline-block; 
    text-align: right; 
    width: 100%;
    font-size: 1vh;
}

.pagination {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 1rem 0rem 0rem 0rem;
}
    .pagination .breadcrumb {
        padding: 8px 16px;
        list-style: none;
        background-color: #eee;
    }
        .pagination .breadcrumb li {
            display: inline;
        }
        .pagination .breadcrumb li+li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }