:root {
    --MARGIN: 10%;
    --TOP: 150px;
}
body {
    font-family: radley,sans-serif;
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid rebeccapurple;
}
img {
    width: 100%;
}
.header-panel {
    display: grid;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    grid-template-columns: var(--MARGIN) auto var(--MARGIN);
    padding: 5px 0 5px 0;
    z-index: 9999;
}
    .header-panel > span {
        display: inline-block;
        width: 100%;
        margin: auto;
        position: relative;
        border: 1px solid red;
    }
    .header-panel > span:first-child {
        text-align: right;
    }
    .header-panel > span:last-child {
        text-align: left;
    }

.sidebar {
    pointer-events: none;
    display: grid;
    position: fixed;
    top: 50%;
    width: 100%;
    grid-template-columns: var(--MARGIN) auto var(--MARGIN);
    z-index: 9999;
}

.bottombar {
    pointer-events: none;
    display: grid;
    position: fixed;
    bottom: -3px;
    right: 0px;
    width: 100%;
    /* grid-template-columns: var(--MARGIN) auto var(--MARGIN); */
    grid-template-columns: auto 27%;
    z-index: 9999;

    border: 1px solid black;
}
    .bottombar > span {
        border: 1px solid violet;
    }
.message_button {
    display: block;
    position: relative;
    color: white;
    background: tomato;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
}

.sidebar_logo {
    /* display: none; */
    display: block;
    background: url(../img2/pimclick-logotype.svg);
    height: 168px;
    margin: 0 auto 20px auto;
    position: relative;
    width: 45px;
    z-index: 9999;
}

.upper_container {
    height: 1080px;
    border: 1px solid gold;
    background: rgb(238,211,200);
    background: radial-gradient(circle, rgba(238,211,200,0.3034255938703606) 0%, rgba(255,255,255,1) 100%);
}

.form_container {
    display: block;
    position: absolute;
    top: var(--TOP);
    left: var(--MARGIN);
    width: 70%;
    background-color: white;
    border-radius: 10px;
    padding: 30px 5% 40px 5%;
    border: 1px solid green;
}
.form_banner {
    display: block;
    position: relative;
    width: 400px;
    margin: 30px auto 30px auto;
}
.contact_form {
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 20px;
}
.contact_form > span {
    position: relative;
    font-family: Montserrat,sans-serif;
    font-size: 18px !important;
    font-weight: 300;
    font-style: normal;
    border: 1px solid tomato;
}
    .contact_form > span:first-child {
        grid-column: 1 / 3 !important;
    }
    .contact_form > span:nth-child(2) {
        grid-column: 1 / 3 !important;
    }
    .contact_form > span {
        grid-column: 1 / 3;
    }
input[type="text"], textarea {
    width: 96%;
    line-height: 39px;
    background-color: #ffffff;
    border: 1px solid #e6e3e3;
    color: #636363;
    border-radius: 5px;
    margin: 5px 0 0 0;
}
textarea {
    padding: 15px 17px;
    overflow: hidden;
}
    .send_button {
        display: block;
        font-size: 30px !important;
        color: white !important;
        background: #e91126 !important;
        width: 200px !important;
        padding: 5px 60px;
        margin: 12px auto 0 auto !important;
      }
div.about {
    position: relative;
    top: 50px;
    font-size: 22px;
    text-align: center;
    margin: auto var(--MARGIN) auto var(--MARGIN);
    z-index: 1;
    border: 1px solid blueviolet;
}

.image.responsive {
    position: relative;
    top: 100px;
    margin: auto var(--MARGIN) auto var(--MARGIN);
    border: 1px solid turquoise;
}

.directory {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top: 80px;
    column-gap: 100px;
    margin: auto var(--MARGIN) auto var(--MARGIN);
    border: 1px solid greenyellow;
}
    .directory ul {
        list-style: none;
        padding-left: 0;
        margin-top: 50px;
    }
    .directory li:first-child {
        color: #E91126;
        font-size: 60px;
        font-weight: bolder;
        margin-bottom: 50px;
    }
    .directory li {
        margin-bottom: 5px;
    }
    .directory > span:last-child {
        grid-column: 1 / 2;
        background-image: none;
        background-color: white;
        
        border: 1px solid blue;
    }

.clients {
    display: block;
    position: relative;
    top: 100px;
    margin: auto;
    margin: auto calc(var(--MARGIN) - 3%) auto calc(var(--MARGIN) - 3%);

    border: 1px solid khaki;
}
    .clients > p {
        /* display: inline; */
        text-align: center;
    }
    .clients em {
        color: #E91126;
    }

.contact_bottom {
    position: relative;
    top: 100px;
}
.contact_banner {
    display: block;
    position: relative;
    background-image: url(../img2/contactus2.PNG);
    background-color: white;
    width: 300px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 50px auto 0 auto;
    z-index: 99;

    border: 1px solid teal;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        --TOP: 300px;
    }
    .sidebar_logo {
        display: none;
    }
    .upper_container {
        height: 1080px;
    }
    .bottombar {
        grid-template-columns: auto 27%;
    }
    .contact_form > span:first-child {
        grid-column: 1 / 3 !important;
    }
    .contact_form > span:nth-child(2) {
        grid-column: 1 / 3 !important;
    }
    .form_banner {
        width: 300px;
    }
    .directory {
        grid-template-columns: auto;
    }
    .directory > span:last-child {
        grid-column: 1 / 2;
        background-image: none;
        background-color: white;
    }
    .contact_banner {
        background-image: url(../img2/contactus2.PNG);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --TOP: 250px;
    }
    .sidebar_logo {
        display: none;
    }
    .bottombar {
        grid-template-columns: auto 20%;
    }
    .upper_container {
        height: 1080px;
    }
    .contact_form > span:first-child {
        grid-column: 1 / 3 !important;
    }
    .contact_form > span:nth-child(2) {
        grid-column: 1 / 3 !important;
    }
    .directory {
        grid-template-columns: auto;
    }
    .directory > span:last-child {
        grid-column: 1 / 2;
        background-image: none;
        background-color: white;
    }
    .contact_banner {
        background-image: url(../img2/contactus.PNG);
        width: 450px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --TOP: 350px;
    }
    .sidebar_logo {
        display: block;
        background: url(../img2/pimclick-logotype.svg);
        height: 168px;
        margin: 0 auto 20px auto;
        position: relative;
        width: 45px;
    }
    .bottombar {
        grid-template-columns: auto 16.5%;
    }
    .upper_container {
        height: 1180px;
    }
    .contact_form > span:first-child {
        grid-column: 1 / 2 !important;
    }
    .contact_form > span:nth-child(2) {
        grid-column: 2 / 3 !important;
    }
    .directory {
        grid-template-columns: auto auto;
    }
    .directory > span:last-child {
        grid-column: 1 / 3;
        background-image: url(../img2/mobile.png);
        background-color: white;
        height: 500px;
        width: 100%;
        /* background-position: right; */
        background-position-x: 250px;
        background-position-y: -100px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .directory li:first-child {
        font-size: 40px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        --TOP: 400px;
    }
    .bottombar {
        grid-template-columns: auto 14%;
    }
    .upper_container {
        height: 1380px;
    }
    .form_container {
        top: 400px;
    }
    .directory li:first-child {
        font-size: 56px;
    }
}

/* Larger devices (custom, 1020px and up) */
@media only screen and (min-width: 1020px) {
    /* :root {
        --TOP: 400px;
    } */
    .bottombar {
        grid-template-columns: auto 13%;
    }
    .upper_container {
        height: 1220px;
    }
    /* .form_container {
        top: 400px;
    } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        --TOP: 550px;
    }
    .bottombar {
        grid-template-columns: auto 11%;
    }
    .upper_container {
        height: 1380px;
    }
    .form_container {
        top: 550px;
    }
    .directory li:first-child {
        font-size: 56px;
    }
}